* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: #f7f7f7;
}

header {
  text-align: center;
  margin-top: 4rem;
}

img#initial-title {
  background-color: transparent;
}

ul#info-options {
  padding: 0;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

ul#info-options a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
}

ul#info-options a:hover{
  border: red solid 2px;
  border-radius: 4px;
  padding: calc(1rem - 2px) calc(2rem - 2px);
}

.initial-menu h3 {
  padding: 20px;
  background: white;
  border-radius: 4px;
  font-weight: bold;
}

.content-global-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 100px;
}

#bikcraft-image {
  width: 100%;
}

.content-area-left,
.content-title,
.content-text {
  background-color: white;
}

.content-area-left {
  align-content: center;
  padding: 50px;
  display: grid;
  justify-items: end;
  gap: 20px;
}

.vermais-button {
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: red;
  border: red solid 1px;
  width: fit-content;
}

.vermais-button:hover{
  background-color: rgb(112, 16, 16);
  color: white;
  border-radius: 4px;
  border: rgb(112, 16, 16) solid 1px;
}

.content-bottom-left {
  background: url("./img/onda.svg") repeat;
}

.vantagem-text {
  background-color: transparent;
  margin-right: 2rem;
}

.content-area-left > h1 {
  text-align: end;
  font-size: 40px;
}

.content-area-left > p {
  font-size: 23px;
  text-align: end;
}

.content-bottom-left {
  display: grid;
  align-content: center;
  justify-content: end;
}

.content-bottom-left h1 {
  font-size: 100px;
  color: rgba(128, 128, 128, 0.5);
  text-align: end;
}

.vantagens-items {
  align-content: center;
  padding-left: 70px;
}

.vantagens-items > p {
  font-size: 20px;
  margin-bottom: 40px;
  width: 300px;
}

.vantagens-items > h3 {
  font-weight: bold;
  margin-bottom: 15px;
  margin-bottom: 15px;
  width: 300px;
}

.vantagens-items > h3 {
  display: flex;
  align-items: center;
}

.vantagens-items,
p,
h3,
img {
  background-color: white;
}
